
     @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&family=Open+Sans&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Sono:wght@800&display=swap');

.container{
    font-family: 'Kanit', sans-serif;
    text-decoration:none;
    color:whitesmoke;
    border-radius: 27px;
    padding:auto 20%;
    border-Width:5px;
    border-Style:solid;
    border-color:#62CDFF;

}
.userContainer{
    font-family:Kanit;
    font-size: 1.5rem;

}
.horizontal-rule{
    border-top: 10px dotted red;
    border-bottom:none;
    width:40%;
}
.box{
    margin:2% 10%;
    padding:auto;
    line-height:2;
}
.heading{
    color: '#222831';
    font-Size:2rem;
    font-Weight: bold;
    font-family: 'Comic Neue', cursive;
    border-Width:3px;
    border-Style:solid;
    border-color:#FF0000;
    padding:5% 10%;
    
}
.hospital-heading{
    font-family: 'Sono', sans-serif;
    color: RED;
    font-Weight:bold;
}